@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,*::before,*::after{
    margin:0;padding:0;box-sizing: border-box;
}

.section-1{
    width:100%;height:880px;position:relative;background-color: #000000;
}

.section-1>div{
    position: absolute;width:inherit;height:inherit;
}

.img-container{
    position:relative;width:inherit;height:inherit;transition:2s;
}


.images{
    width:100%;height:100%;position: absolute;transition:2s;
}

.images img{
    width:100%;height:100%;object-fit:cover;
}

.wrapper{
    position:relative;width:100%;height:100%;
}

.wrapper>*{
    position: absolute;
}

.text{
    width:100%;height:100%;display:flex;justify-content: center;align-items:center;flex-direction: column;
    font-family: 'Montserrat';font-style: normal;background:rgba(0, 0, 0,0.5);transform:translateY(0%);
}

.text>div:first-child{
    font-weight: 500;font-size: 30px;line-height: 37px;letter-spacing: 0.55em;color: rgba(255, 255, 255, 0.8);
    margin-bottom:30px;
}

.text>div:last-child{
    font-weight: 700;font-size: 64px;line-height: 78px;text-align: center;color: #FFFFFF;padding:0;
}

.nav{
    width:100%;background-color:transparent;z-index:10;padding:20px 64px;height:inherit;
}

.nav>header{
    width:100%;display:flex;justify-content: space-between;align-items: center;
}

.first a{
    text-decoration:none;color:white; font-family: 'Montserrat';font-style: normal;
    font-weight: 600;font-size: 24px;line-height: 29px;color: #F2F2F2;
    display:flex;align-items: center;
}

.first a>*{
    margin-right:15px;
}

.second{
    display:flex;justify-content:space-between;align-items: center;
}

.second a{
    text-decoration:none;font-family: 'Montserrat';font-style: normal;font-weight: 400;font-size: 18px;
    line-height: 22px;color: #F2F2F2;margin-left:50px;display:flex;align-items:center;
}

.second a>*{
    margin-left:10px;
}

.third{
    font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 18px;line-height: 22px;
    color: #EB3800;text-decoration:none;padding:15px 20px;background: #F2F2F2;border-radius: 2px;
}

.toggle{
    display:block;
}

.ham{
    width:30px;height:30px;display:none;
}

.ham-menu{
    position:fixed;top:-230%;right:0;height:100vh;width:100%;background-color:rgba(0, 0, 0,0.8);z-index:50;left:0;
    backdrop-filter:blur(5px);padding:10px 20px;transition:0.5s;overflow:scroll;
}

.head{
    display:flex;justify-content:space-between;align-items:center;
}

.head>div{
    display:flex;align-items:center;
}

.head span{
    font-family:'Montserrat';font-style: normal;font-weight: 600;font-size: 20px;line-height: 24px;color: #F2F2F2;
}

.cancle,.logo1{
    width:35px;height:35px;
}

.logo1{
    margin-right:10px;
}

.clicks{
    margin-top: 100px;
}

.clicks>div,.clicks2{
    text-align:center;width:100%;padding-bottom:60px;
}

.clicks>div a{
    text-decoration:none;font-family:'Montserrat';font-style: normal;font-weight: 400;font-size: 18px;
    line-height: 22px;color: #F2F2F2;    
}

.icons{
    display:flex;justify-content:space-between;align-items: center;width:100%;height:273px;
    position:relative;top:30%;
}

.icons img{
    width:25px;height:25px;
}

.icons>div:first-child{
    display:flex;flex-direction: column;align-items: center;
}

.icons>div:first-child>*{
    margin-bottom:15px;
}

.icons>div:last-child{
    height:100%;background: rgba(255, 255, 255, 0.3);border-radius: 3px;width:5px;
}

.moving{
    background: #FFFFFF;border-radius: 3px 3px 0px 0px;width:100%;height:91px;transition:2s;
}

.see-more{
    display:flex;justify-content: space-between;align-items:center;position: relative;top:40%;
}

.see-more>div:first-child{
    display:flex;align-items:center;justify-content: flex-start;transform:translateX(-50px) rotate(-90deg);
}

.see-more>div:first-child>span:first-child{
    font-size:30px;opacity: 0.5;color:white;
}

.see-more>div:first-child>div{
    margin-left:15px;font-family: 'Montserrat';font-style: normal;font-weight: 600;
    font-size: 14px;line-height: 17px;letter-spacing: 0.1em;color: #FFFFFF;opacity: 0.6;
}

.more2{
    display:flex;justify-content:space-between;align-items:center;flex-basis:70%;height:200px;
    transform:translateX(-50px);flex-wrap: nowrap;
}

.more2>div{
    flex-basis:30%;background: rgba(255, 255, 255, 0.1);backdrop-filter: blur(4px);height: 111px;
    display:flex;align-items: center;justify-content: center;margin-bottom:0px;
}

.special1{
    font-style: normal;font-weight: 600;font-size: 18px;line-height: 22px;color: #FFFFFF;font-family: 'Montserrat';
    margin-bottom:7px;
}

.special{
    font-weight: 400;font-size: 14px;line-height: 17px;color: #FFFFFF;font-family: 'Montserrat'; font-style: normal;
    
}

.more2 .more1-img{
    height:23px;width:23px;margin-right:10px;
}

.more2 .more2-img{
    height:39px;width:39px;margin-right:10px;
}

.counter{
    width:70px;height:30px;background-color:transparent;position:relative;font-family: 'Montserrat';
    font-style: normal;display:block;transform: scale(100%);
}

.counter>div{
    width:100%;position: absolute;
}


.counter1{
    position:relative;
}

.counter1>div{
    position: absolute;font-family: 'Montserrat';font-style: normal;font-weight: 600;
    color: #FFFFFF;transition:2s;right:0;transform: scale(0%);
}

.show{
    display:block;
}

.scale-down{
    transform:scale(0%);
}

.scale-up{
    transform:scale(200%);
}

.mad-style{
    display:none;position:absolute;z-index:45;
}


.hide{
    display:none;
}

.counter2-parent{
    display:flex;justify-content:flex-end;align-items:center;
}

.counter2{
    font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 18px;line-height: 22px;color: #FFFFFF;
    opacity: 0.3;
}

.section-2{
    width:100%;padding-top:20px;background: #F2F2F2;padding-bottom:40px;overflow:hidden;
}

.section2-container{
    display:flex;justify-content: center;align-items: center;flex-direction: column;transition:2s;
}

.section2-container>div{
    text-align:center;
}

.section2-container>div:first-child{
    font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 48px;line-height: 59px;
    color: #000000;margin-bottom:15px;padding:20px;
}


.section2-container>div:last-child{
    font-family: 'Montserrat';font-style: normal;font-weight: 400;font-size: 22px;line-height: 27px;color: #4F4F4F;
    padding:20px;
}

.section-3{
    width:100%;display:flex;align-items:center;height:200px;flex-wrap:wrap;padding:0;background: #F2F2F2;
}

.section-3>div{
    flex-basis:20%;flex-grow:1;height:100%;overflow:hidden;
}

.section-3>div>div{
    width:100%;height:100%;border-left:0.5px solid rgba(79, 79, 79,0.5);border-top:0.5px solid rgba(79, 79, 79,0.5);
    background-color:#F2F2F2;display:flex;flex-direction: column;justify-content: center;align-items: center;
    transition:2s;transform:translateY(100%);opacity:0;
}


.processed{
    font-family: 'Montserrat';font-style: normal;text-align: center;
}

.processed>span:first-child{
    font-weight: 600;font-size: 36px;line-height: 44px;color: #000000;
}

.processed>span:last-child{
    font-weight: 400;font-size: 22px;line-height: 27px;color: #4F4F4F;
}

.section-4{
    width:100%;padding-top:0px;
}

.section-4>div{
    width:100%;display:flex;justify-content:center;align-items: center;font-family: 'Montserrat';
    font-style: normal;font-weight: 600;font-size: 32px;line-height: 39px;color: #BDBDBD;
    background-color:#F2F2F2;height:125px;
}

.section-5{
    width:100%;overflow:hidden;display:flex;align-items: center;height:100px;
    background-color:#F2F2F2;
}

.group{
    display:flex;align-items: center;height:100px;background-color:#F2F2F2;
    padding-bottom:50px;padding-top:30px; animation:loop 20s linear infinite;
}

.group>div{
    display:flex;justify-content:center;align-items:center;min-width:350px;
}

.section-6{
    height:748px;width:100%;background-color:white;display:flex;flex-wrap:wrap;
    padding:70px 70px;font-family: 'Montserrat';font-style: normal;overflow: hidden;
}

.section-6>div{
    flex-basis:50%;height:748px;
}

.section6-first{
    transition:3s;transform:translateX(-100%);opacity:0;
}

.section6-first>div:first-child{
    font-weight: 600;font-size: 24px;line-height: 29px;color: #000000;margin-bottom:15px;padding-bottom:0;
}

.section6-first>div:nth-child(2){
    font-weight: 400;font-size: 20px;line-height: 24px;color: #333333;
}

.section6-first>div:nth-child(3){
    font-weight: 400;font-size: 18px;line-height: 22px;color: #4F4F4F;margin-top:70px;
}

.section6-first>div:nth-child(4){
    margin-top:50px;margin-bottom:50px;
}

.section6-first>div:nth-child(4)>div{
    display:flex;align-items: center;margin-bottom:15px;
}

.check{
    margin-right:20px;
}

.copy{
    overflow:hidden;
}

.copy1{
    transform:translateY(100%);transition:2s;opacity:0;
}

.section6-first>div:last-child{
    width: 230px;height: 64px;
}

.section6-first>div:last-child a{
    width:100%;height:100%;display:flex;justify-content: center;align-items: center;background: #EB3800;
    text-decoration:none;font-weight: 600;font-size: 18px;line-height: 22px;color: #F2F2F2;
}

.sec6-last{
    display:flex;justify-content: flex-end;position: relative;padding-top:0; 
    transition:3s;transform:translateX(100%);opacity:0;
}

.sec6-last img{
    position:relative;width: 359.68px;height: 539.46px;object-fit:contain;transform:translate(-70px);
    z-index:5;
}

.sec6-last .div1{
    position:absolute;width:359px;height:539px;background-color: rgba(0, 0, 0,0.1);
    z-index:3;right:0;top:55px;
}

.sec6-last .div2{
    position:absolute;width:359px;height:539px;background-color: rgba(0, 0, 0,0.2);
    z-index:8;right:70px;top:0px;display:block;
}

.section-7{
    width:100%;height:600px;background: #F2F2F2;padding:64px 64px 64px 64px;display:flex;align-items:center;
    justify-content:space-between; border-top: 0.5px solid #BEBEBE; border-bottom: 0.5px solid #BEBEBE;
    flex-wrap: nowrap;overflow:hidden;
}

.section-7>div{
    height:424px;flex-basis:24%;background-color:white;font-family: 'Montserrat';font-style: normal;
    border: 0.5px solid #BEBEBE;border-radius: 6px;transition:3s;transform:translateY(100%);opacity:0;
}

.section-7>div:hover{
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
}

.section-7>div>img{
    width:100%;height: 208.69px;object-fit: cover;
}

.section-7>div>div:nth-child(2){
    width:100%;padding:6px;font-weight: 600;font-size: 20px;line-height: 24px;color: #333333;
}

.section-7>div>div:nth-child(3){
    font-weight: 400;font-size: 18px;line-height: 140%;color: #4F4F4F;padding:6px;margin-top:5px;
    margin-bottom:10px;
}

.section-7>div>a:last-child{
    font-weight: 600;font-size: 18px;line-height: 130%;text-decoration-line: underline;color: #EB3800;
    padding:5px;
}

.section-8{
    width:100%;display:flex;justify-content: center;align-items: center;background: #F2F2F2;
    height:150px;font-family: 'Montserrat';font-style: normal;font-weight: 600;
    font-size: 48px;line-height: 59px;text-align: center;color: #000000;position:relative;padding:0px;
}

.section-8 img{
    position: absolute;left:130px;top:155px;
}

.section-9{
    width:100%;overflow:hidden;height:320px;background: #F2F2F2;display:flex;align-items: center;padding:10px 50px;
}

.section-9>div{
    min-width:400px;background-color:white;height:279px;margin-right:40px;border-radius: 6px;padding:24px;
    font-family:'Montserrat';font-style: normal;
}

.section-9>div>div:first-child{
    width:100%;display:flex;align-items:center;padding-top:20px;font-weight: 500;font-size: 18px;
    line-height: 22px;color: #333333;
}

.section-9>div>div:first-child img{
    width:40px;height:40px;border-radius:50%;object-fit:cover;margin-right:10px;
}


.section-9>div>div:last-child{
    font-weight: 400;font-size: 18px;line-height: 22px;color: #4F4F4F;margin-top:30px;
}


.section-10{
    width:100%;display:flex;justify-content: center;align-items: center;background: #F2F2F2;
}

.section-10>div{
    flex-basis:300px;display:flex;justify-content: space-between;align-items: center;padding:30px;
}

.section-10 img{
    height:56px;width:56px;
}

.section-11{
    display:flex;justify-content: center;align-items: center;flex-direction: column;height:400px;
    width:100%;position: relative;padding:0;overflow: hidden;
}

.section-11>img{
    position: absolute;height:100%;width:100%;object-fit: cover;
}

.section-11>div{
    width:100%;display:flex;justify-content: center;align-items:center;flex-direction: column;position:relative;
    z-index:30;transition:3s;opacity:0;transform:translateY(100%);
}

.section-11>div>div{
    text-align:center;margin-bottom:40px;font-family: 'Montserrat';
    font-style: normal;font-weight: 700;font-size: 24px;line-height: 29px;display: flex;color: #F2F2F2;
}


footer{
    padding-bottom:40px;background-color: #EB3800;
}


footer>div:first-child{
    display:flex;justify-content:flex-end;height:370px;background-color: #EB3800;width:100%;align-items: center;
    padding:32px 64px;font-family: 'Montserrat';font-style: normal;font-weight: 700;font-size: 250px;
    line-height: 305px;text-align: right;color: #FFFFFF;    
}

footer>div:nth-child(2){
    display:flex;flex-direction:column;height:300px;width:100%;background-color:#EB3800;padding:32px 64px;
}

footer>div:nth-child(2)>a{
    text-decoration:none;font-family: 'Montserrat';
    font-style: normal;font-weight: 500;font-size: 22px;line-height: 27px;color: #F2F2F2;margin-bottom: 20px;
}

footer>div:last-child{
    width:100%;height:60px;border-top:1px solid rgba(255, 255, 255,0.5);
    border-bottom:1px solid rgba(255, 255, 255,0.5);background-color: #EB3800;
    font-family: 'Montserrat';font-style: normal;font-weight: 400;font-size: 14px;
    line-height: 17px;color: #FFFFFF;padding:0px 64px;display:flex;justify-content:flex-start;align-items:center;
}


@media only screen and (max-width:1024px) {
    .nav{
        padding:20px 32px;
    }

    .first a{
        font-size: 20px;line-height: 26px;
    }
    
    .second a{
        font-size:15px;line-height:18px;margin-left:30px;
    }

    .third{
        font-size: 15px;line-height:18px;
    }

    .text>div:last-child{
        font-size:57px;line-height: 74px;
    }

    .text>div:first-child{
        font-size:27px;line-height: 33px;letter-spacing: 0.55em;
    }
    
    .special1{
        font-size: 15px;line-height:18px;
    }
    
    .special{
        font-size: 12px;line-height: 15px;
        
    }

    .more2 .more1-img{
        height:23px;width:23px;margin-right:7px;
    }
    
    .more2 .more2-img{
        height:39px;width:39px;margin-right:7px;
    }

    .more2{
        flex-basis:75%;
    }

    .section2-container>div:first-child{
        font-size:44px;line-height: 54px;
    }
    
    .section2-container>div:last-child{
        font-size:18px;line-height: 23px;
    }

    .section-6{
        height:788px;padding:50px 32px;
    }
    
    .section6-first>div:nth-child(3){
        margin-top:50px;
    }
    
    .section6-first>div:nth-child(4){
        margin-bottom:40px;
    }

    .section-7{
        padding:32px 32px 32px 32px;
    }
    
    .section-7>div>div:nth-child(2){
        font-size:17px;line-height: 20px;
    }
    
    .section-7>div>div:nth-child(3){
        font-size:13px;line-height: 140%;
    }
    
    .section-7>div>a:last-child{
        font-size: 15px;
    }

    .section-8{
        font-size: 44px;line-height: 54px;
    }

    footer>div:first-child{
        font-size: 200px;
    }
}

@media only screen and (max-width:768px){
    .toggle{
        display:none;
    }

    .second{
        display:none;
    }

    .ham{
        display:block;
    }

    .icons>div:first-child{
        display:none;
    }

    .icons{
        justify-content: flex-end;
    }

    .text>div:last-child{
        font-size:49px;line-height: 74px;
    }

    .text>div:first-child{
        font-size:25px;line-height: 33px;letter-spacing: 0.55em;
    }

    .see-more>div:first-child{
        display:none;
    }

    .counter{
        display:none;
    }

    .more2{
        flex-basis:100%;transform:translateX(-0px)
    }

    .section2-container>div:first-child{
        font-size:39px;line-height: 50px;
    }
    
    .section2-container>div:last-child{
        font-size:15px;line-height: 20px;
    }

    .section-3{
        width:100%;display:flex;align-items:center;height:800px;flex-wrap:wrap;padding:0px 50px;
    }
    
    .section-3>div{
        flex-basis:100%;height:200px;
    }
    
    .section-3>div>div{
        border-left:0.5px solid transparent;
    }


    .section-6{
        height:1350px;
    }
    
    .section-6>div{
        flex-basis:100%;height:548px;
    }

    .sec6-last{
        justify-content: flex-start;padding-top:50px;
    }
    
    .sec6-last img{
        transform:translate(-70px);left:80px;
    }
    
    .sec6-last .div1{
        top:100px;left:50px;
    }
    
    .sec6-last .div2{
        top:50px;left:10px;
    }

    .section-7{
        width:100%;height:1900px;padding:64px 40px 64px 40px;flex-wrap:wrap;
    }
    
    .section-7>div{
        flex-basis:100%;
    }
    
    .section-7>div>div:nth-child(2){
        padding:10px;
    }
    
    .section-7>div>div:nth-child(3){
        font-size: 18px;padding:8px;margin-bottom:6px;
    }
    
    .section-7>div>a:last-child{
        font-weight: 600;font-size: 18px;padding:10px;
    }
    
    .section-8{
        font-size:35px;line-height:44px;
    }

    .section-11{
        padding:30px;
    }

    footer>div:first-child{
        padding:32px 32px;font-size:150px;    
    }

    footer>div:nth-child(2){
        padding:32px 32px;
    }
    
    footer>div:nth-child(2)>a{
        font-size:18px;
    }

    footer>div:last-child{
        padding:0px 32px;
    }
}


@media only screen and (max-width:426px){

    .text>div:last-child{
        font-size:32px;line-height:39px;padding:25px;
    }

    .text>div:first-child{
        font-size:18px;line-height:22px;letter-spacing: 0.55em;
    }

    .nav{
        padding:20px 20px;
    }


    .more2{
        display:flex;justify-content:center;align-items:center;flex-basis:100%;height:200px;
        transform:translateX(0px);flex-wrap: wrap;
    }
    
    .more2>div{
        flex-basis:100%;display:flex;align-items: center;margin-bottom:20px;
    }

    .see-more{
        top:20%;
    }

    .icons{
        top:16%;
    }
    
    .section-1{
        height:967px;
    }

    .text{
        transform:translateY(-25%);height:1290px;
    }

    .special1{
        font-style: normal;font-weight: 600;font-size: 18px;line-height: 22px;color: #FFFFFF;font-family: 'Montserrat';
        margin-bottom:7px;
    }
    
    .special{
        font-weight: 400;font-size: 14px;line-height: 17px;color: #FFFFFF;font-family: 'Montserrat'; font-style: normal;
        
    }

    .section2-container>div:first-child{
        font-size:24px;line-height: 29px;padding:10px;
    }
    
    
    .section2-container>div:last-child{
        font-size:14px;line-height:17px;padding:10px;
    }

    .processed>span:first-child{
        font-weight: 600;font-size:24px;line-height:29px;color: #000000;
    }
    
    .processed>span:last-child{
        font-weight: 400;font-size:14px;line-height: 17px;color: #4F4F4F;
    }

    .section-4>div{
        font-size:24px;line-height:29px;
    }

    .section-6{
        height:1150px;
    }


    .sec6-last img{
        transform:translate(-70px);left:33px;height:295px;width:263px;top:130px;
    }
    
    .sec6-last .div1{
        top:220px;left:30px;height:295px;width:200px
    }
    
    .sec6-last .div2{
        top:180px;left:-4px;height:295px;width:197px
    }

    .mad-style{
        display:block;position:absolute;top:460px;
    }
    
    .section-7{
        width:100%;height:1900px;padding:54px 20px 54px 20px;flex-wrap:wrap;
    }

    .section-8{
        font-size:25px;line-height:30px;padding:20px;
    }

    .section-10>div{
        flex-basis:200px;
    }

    .section-10 img{
        height:37px;width:37px;
    }

    .section-9>div{
        min-width:400px;background-color:white;height:230px;margin-right:40px;border-radius: 6px;padding:17px;
        font-family:'Montserrat';font-style: normal;
    }
    
    .section-9>div>div:first-child{
        width:100%;display:flex;align-items:center;padding-top:10px;font-weight: 500;font-size: 14px;
        line-height:17px;color: #333333;
    }
    
    .section-9>div>div:first-child img{
        width:40px;height:40px;border-radius:50%;object-fit:cover;margin-right:10px;
    }
    
    
    .section-9>div>div:last-child{
        font-weight: 400;font-size: 14px;line-height:17px;color: #4F4F4F;margin-top:20px;
    }

    .section-9{
        padding:0px 40px;
    }
    
    .section-10>div{
        padding:20px 30px;
    }

    .section-11>div>div{
        font-size:16px;line-height: 20px;
    }    

    footer>div:first-child{
        padding:32px 32px;font-size:48px;line-height:59px;height:120px;
    }

    footer>div:nth-child(2){
        padding:32px 32px;
    }
    
    footer>div:nth-child(2)>a{
        font-size:16px;line-height:20px;height:100px;
    }

    footer>div:last-child{
        padding:0px 32px;
    }


}

@media only screen and (max-width:376px){
    .section-6{
        height:1190px;
    }


    .sec6-last img{
        transform:translate(-70px);left:33px;height:295px;width:263px;top:170px;
    }
    
    .sec6-last .div1{
        top:260px;left:30px;height:295px;width:200px
    }
    
    .sec6-last .div2{
        top:220px;left:-4px;height:295px;width:197px
    }
}


@media only screen and (max-width:320px){
    .section-6{
        height:1300px;
    }


    .sec6-last img{
        transform:translate(-70px);left:33px;height:295px;width:263px;top:220px;
    }
    
    .sec6-last .div1{
        top:310px;left:30px;height:295px;width:200px
    }
    
    .sec6-last .div2{
        top:270px;left:-4px;height:295px;width:197px
    }

    .section-7>div>div:nth-child(2){
        padding:10px;
    }
    
    .section-7>div>div:nth-child(3){
        font-size: 14px;padding:8px;margin-bottom:6px;
    }
    
    .section-7>div>a:last-child{
        font-weight: 600;font-size: 14px;padding:10px;
    }

}


@keyframes loop {
    0%{
        transform:translateX(0%);
    }

    100%{
        transform:translateX(-100%);
    }
    
}