@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*,*::before,*::after{
    margin:0;padding:0;box-sizing: border-box;
}

body{
    background-color: #F2F2F2;
}

.ham-menu{
    position:fixed;top:-230%;right:0;height:100vh;width:100%;background-color:rgba(0, 0, 0,0.8);z-index:50;left:0;
    backdrop-filter:blur(5px);padding:10px 20px;transition:0.5s;overflow:scroll;
}

.head{
    display:flex;justify-content:space-between;align-items:center;
}

.head>div{
    display:flex;align-items:center;
}

.head span{
    font-family:'Montserrat';font-style: normal;font-weight: 600;font-size: 20px;line-height: 24px;color: #F2F2F2;
}

.cancle,.logo1{
    width:35px;height:35px;
}

.logo1{
    margin-right:10px;
}

.clicks{
    margin-top: 100px;
}

.clicks>div,.clicks2{
    text-align:center;width:100%;padding-bottom:60px;
}

.clicks>div a{
    text-decoration:none;font-family:'Montserrat';font-style: normal;font-weight: 400;font-size: 18px;
    line-height: 22px;color: #F2F2F2;    
}

header{
    width:100%;display:flex;justify-content: space-between;align-items: center;padding:20px 64px;
    position: fixed;top:0;left:0;right:0;z-index:50;top:0;
}

.first a{
    text-decoration:none;color:white; font-family: 'Montserrat';font-style: normal;
    font-weight: 600;font-size: 24px;line-height: 29px;color:black;
    display:flex;align-items: center;
}

.first a>*{
    margin-right:15px;
}

.second{
    display:flex;justify-content:space-between;align-items: center;
}

.second a{
    text-decoration:none;font-family: 'Montserrat';font-style: normal;font-weight: 400;font-size: 18px;
    line-height: 22px;color:black;margin-left:50px;display:flex;align-items:center;
}

.second a img{
    width:100%;height:100%;object-fit: cover;
}

.second a>*{
    margin-left:10px;
}

.third{
    font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 18px;line-height: 22px;
    color:white;text-decoration:none;padding:15px 20px;background: #BDBDBD;border-radius: 2px;
}

.toggle{
    display:block;
}

.ham{
    width:50px;height:50px;display:none;
}

.section1{
    width:100%;display:flex;justify-content:center;align-items: center;margin-top:250px;
}

.section1>div{
    height:10px;background-color:white;flex-basis:80%;display:flex;justify-content: center;
    align-items:center;padding:0px 10px;border-radius: 6px;
}

.section1>div>div{
    flex-basis:100%;height:100%;background:#00D74C ;border-radius: 12px;
}

.section2{
    width:100%;display:flex;justify-content:center;align-items:center;margin-top:90px;
}

.section2 a{
    display:flex;justify-content: center;align-items:center;height:100px;width:100px;background-color: #00D74C;
    border-radius:50%;animation:scaleup 1s infinite;animation-direction: alternate;
}

.section3{
    width:100%;text-align:center;font-family: 'Montserrat';font-style: normal;font-weight: 400;
    font-size: 36px;line-height: 44px;color: #4F4F4F;margin-top:10px;padding:0;
}

.section4{
    text-align:center;width:100%;font-family: 'Montserrat';font-style: normal;font-weight: 400;font-size: 24px;
    line-height: 29px;color: #828282;margin-top:10px;padding:0;
}

.section5{
    display:flex;justify-content:center;align-items:center;width:100%;margin-top:60px;margin-bottom: 90px;
}

.section5 a{
    color:#F2F2F2;text-decoration:none;padding:20px 60px;background-color:#00D74C;
    font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 18px;line-height: 22px;transition:300ms;
    
}

.section5 a:hover{
    color:#00D74C;background-color: white;
}


footer{
    padding-bottom:40px;background-color: #EB3800;
}


footer>div:first-child{
    display:flex;justify-content:flex-end;height:370px;background-color: #EB3800;width:100%;align-items: center;
    padding:32px 64px;font-family: 'Montserrat';font-style: normal;font-weight: 700;font-size: 250px;
    line-height: 305px;text-align: right;color: #FFFFFF;    
}

footer>div:nth-child(2){
    display:flex;flex-direction:column;height:300px;width:100%;background-color:#EB3800;padding:32px 64px;
}

footer>div:nth-child(2)>a{
    text-decoration:none;font-family: 'Montserrat';
    font-style: normal;font-weight: 500;font-size: 22px;line-height: 27px;color: #F2F2F2;margin-bottom: 20px;
}

footer>div:last-child{
    width:100%;height:60px;border-top:1px solid rgba(255, 255, 255,0.5);
    border-bottom:1px solid rgba(255, 255, 255,0.5);background-color: #EB3800;
    font-family: 'Montserrat';font-style: normal;font-weight: 400;font-size: 14px;
    line-height: 17px;color: #FFFFFF;padding:0px 64px;display:flex;justify-content:flex-start;align-items:center;
}


@media only screen and (max-width:1024px){
    header{
        padding:20px 32px;
    }

    .first a{
        font-size: 20px;line-height: 26px;
    }

    .second a{
        font-size:15px;line-height:18px;margin-left:30px;
    }

    .third{
        font-size: 15px;line-height:18px;
    }

    footer>div:first-child{
        font-size: 200px;
    }

    .section3{
        font-size: 30px;line-height: 40px;
    }
    
    .section4{
        font-size: 20px;line-height: 25px;
    }
}


@media only screen and (max-width:768px){
    .ham{
        display:block;
    }

    .toggle{
        display:none;
    }

    .second{
        display:none;
    }

    .section1{
        margin-top:200px;
    }

    .section4{
        padding:30px;
    }

    footer>div:first-child{
        padding:32px 32px;font-size:150px;    
    }

    footer>div:nth-child(2){
        padding:32px 32px;
    }
    
    footer>div:nth-child(2)>a{
        font-size:18px;
    }

    footer>div:last-child{
        padding:0px 32px;
    }
}

@media only screen and (max-width:426px){

    .section3{
        width:100%;text-align:center;font-family: 'Montserrat';font-style: normal;font-weight: 400;
        font-size:24px;line-height:29px;color: #4F4F4F;margin-top:10px;padding:30px;
    }

    .section4{
        text-align:center;width:100%;font-family: 'Montserrat';font-style: normal;font-weight: 400;font-size:16px;
        line-height: 20px;color: #828282;margin-top:10px;padding:0px 20px;
    }

    .section5{
        margin-bottom:90px;
    }

    .section5 a{
        color:#F2F2F2;text-decoration:none;padding:20px 40px;
        font-family: 'Montserrat';font-style: normal;font-weight: 600;font-size: 16px;line-height:18px;
    }

    footer>div:first-child{
        padding:32px 32px;font-size:48px;line-height:59px;height:120px;
    }

    footer>div:nth-child(2){
        padding:32px 32px;
    }
    
    footer>div:nth-child(2)>a{
        font-size:16px;line-height:20px;height:100px;
    }

    footer>div:last-child{
        padding:0px 32px;
    }
    
}


@keyframes scaleup {
    0%{
        transform:scale(50%);
    }


   100%{
        transform:scale(100%);
    }
}


